@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Montserrat&display=swap");

:root {
  /* colors palette */
  --primary-color: #dcb7e8;
  --secondary-color: #ffe570;
  --accent1-color: #a9ffb7;
  --accent2-color: #ffaa89;
  --accent3-color: #9fd4ff;
  --basic1-color: white;
  --basic2-color: black;

  --alt1-color: #f9f2fb;
  --alt2-color: #c07dd5;

  /* change the values below to your chosen font(s) */
  --heading-font: "Courier Prime", monospace;
  --paragraph-font: "Montserrat", sans-serif;

  /* these colors below should be chosen from among the palette colors above */
  --headline-color-on-white: var(--primary-color);
  /* headlines on a white background */
  --headline-color-on-color: #2c242e;
  /* headlines on a colored background */
  --paragraph-color-on-white: #2c242e;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #2c242e;
  /* paragraph text on a colored background */
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: var(--basic2-color);
  --nav-background-color: var(--basic1-color);
  --nav-hover-link-color: var(--alt2-color);
  --nav-hover-background-color: var(--alt1-color);
}

#content {
  width: 100%;
  margin: 0 auto;
}

#hero {
  margin-top: 320px;
  margin-bottom: 60px;
  margin-left: 36px;
  padding-right: 24px;
}

#logo_link {
  margin-top: 36px;
}

.logo {
  width: 390px;
}

.footer-logo {
  width: 240px;
}

.card-img {
  width: 100%;
  border: 1px solid var(--primary-color);
  transition: transform 0.5s;
  border-radius: 12px;
}

.card-img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.card-social {
  width: 24px;
}

.hero-msg {
  margin-top: 100px;
  padding: 33px;
}

#hero .hero-msg p {
  margin-top: 100px;
  font-weight: bold;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 33px 1fr;
  padding: 33px;
}

.ub,
.ews,
.first-quote {
  grid-column: 1/2;
  grid-row: 1/2;
}

.ub-photo,
.ews-photo,
.family-photo {
  grid-column: 3/4;
  grid-row: 1/2;
}

.ud,
.second-quote {
  grid-column: 1/2;
  grid-row: 2/3;
}

.ews-large-photo {
  grid-column: 1/2;
  grid-row: 2/5;
}

.li,
.ews-essentials,
.girl-photo {
  grid-column: 3/4;
  grid-row: 2/3;
}

.topg-photo {
  grid-column: 1/2;
  grid-row: 3/4;
}

.topg,
.ews-wants {
  grid-column: 3/4;
  grid-row: 3/4;
}

.ews-savings {
  grid-column: 3/4;
  grid-row: 4/5;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about {
  grid-column: 3/4;
  grid-row: 1/2;
}

.contact {
  grid-column: 4/5;
  grid-row: 1/2;
}

.site-plan {
  grid-column: 5/6;
  grid-row: 1/2;
}

.social {
  grid-column: 1/2;
  grid-row: 2/3;
}

.about,
.contact,
.site-plan,
.social {
  align-self: center;
  justify-self: center;
}

.designer {
  grid-column: 1/6;
  grid-row: 3/4;
  text-align: right;
  padding: 5px;
  align-self: center;
  justify-self: stretch;
  border-top: 5px solid var(--primary-color);
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.main {
  padding: 160px;
  margin-top: 300px;
}

header {
  background-color: var(--nav-background-color);
  border-bottom: 5px solid var(--alt2-color);
  box-shadow: 0 2px var(--alt1-color);
  display: grid;
  grid-template-columns: 1fr 2fr auto;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: var(--heading-font);
  font-weight: bold;
}

nav a {
  float: left;
  display: table-cell;
  text-align: center;
  text-decoration: none;
  color: var(--basic2-color);
  padding: 33px 24px;
  position: relative;
  width: 100%;
  height: 24px;
  margin-top: 4em;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  border-radius: 24px;
}

body {
  font-family: var(--paragraph-font);
  font-size: 22px;
  margin: 0;
}

.ub,
.ews,
.first-quote,
.ub-photo,
.ews-photo,
.family-photo,
.ud,
.second-quote,
.ews-large-photo,
.li,
.ews-essentials,
.girl-photo,
.topg,
.topg-photo,
.ews-wants,
.ews-savings {
  padding: 36px;
}

.ub:hover,
.ews:hover,
.first-quote:hover,
.ub-photo:hover,
.ews-photo:hover,
.family-photo:hover,
.ud:hover,
.second-quote:hover,
.ews-large-photo:hover,
.li:hover,
.ews-essentials:hover,
.girl-photo:hover,
.topg:hover,
.topg-photo:hover,
.ews-wants:hover,
.ews-savings:hover {
  padding: 24px;
  border: 1px solid var(--alt1-color);
  background-color: var(--paragraph-background-color);
  border-radius: 12px;
  opacity: 0.8;
}

footer {
  font-family: var(--heading-font);
  background-color: var(--alt1-color);
}

footer h3 {
  font-size: 24px;
}

footer h3 {
  font-size: 18px;
  color: var(--basic2-color);
  text-decoration: none;
}

footer h3 a {
  color: var(--basic2-color);
  text-decoration: none;
}

footer h3 a:hover {
  color: var(--alt2-color);
  text-decoration: underline;
}

footer h4 {
  font-size: 12px;
}

h4 {
  font-size: 12px;
}

#page1 .link1,
#page2 .link2,
#page3 .link3 {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  border-radius: 24px;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

@media screen and (max-width: 900px) {

  #hero,
  .home-grid,
  .footer-grid {
    display: block;
    height: auto;
  }

  nav,
  footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
    font-size: medium;
  }

  #hero {
    margin-top: 0;
  }

  #hero-msg {
    margin-top: 500px;
  }

  #hero-msg h4 {
    display: none;
  }

  .home-title {
    font-size: 25px;
    color: #6f7364;
  }

  .logo {
    width: 240px;
  }

  .card-img {
    margin: auto;
    width: 100%;
  }

  #background {
    display: none;
  }

  footer {
    margin-top: 24px;
    padding-left: 24px;
  }
}